body{
    margin: 0px;
    background-color: black;
}
h1{
    color: white;
    font-size: medium;
    margin-top: -195px;
    margin-left: 350px;
    
}
h2{
    color: white;
    margin-top: 20px;
}
.fa-youtube{
    color: red;
    
}

#video{
    position:absolute;
    z-index:-1;
    top:0;
    left:0;
    width:100%; 
    height:100vh;
}
#footer{

    margin-top: 1000px;
}

#logo{
    position: relative;
    top: 50px;

}
/* #card{
    transform: scale(0.2);
    max-width: 100%;
    height: auto;
    animation: myRotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
} */
#card:hover{
    transform: scale(0.2);
    max-width: 100%;
    height: auto;
    animation: myRotate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes myRotate{
    from{margin-left: 5%;}
    to{margin-left: 0%;}
    100%{transform: rotateZ(30deg);}
}
